body{
    padding-top: 60px;
  padding-bottom: 10px;
   background-image: url("palin.jpg");
   background-size: 100%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

header{
    color:blue;
    
  

}
.section-header{
    color: rgb(20, 19, 19);
    font-size:25px;
    
}
article{
    background-color: transparent;
}
#para1{
    color:greenyellow;
    font-size:18px;
    background-color: transparent;
}
#para2{
    color:greenyellow;
    
    font-size:18px;
    background-color: transparent;
}
#para3{
    color:greenyellow;
    font-size:18px;
    background-color: transparent;
}

ol li{
    background-color: transparent;
    margin:4px;
    padding:18px;
    color:pink;
    
    font-size: 15px;
}
.aside-header{
    font-size: 21px;
    background-color: transparent;
}
#para4{
    background: transparent;
    color:greenyellow;
    font-size: 15px;
}

.myfooter{
    background-color: transparent;
    color:greenyellow;
    font-size:15px;
}
.img-circle {
    
    border-radius: 75%;
     
    
}

